*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Times New Roman', Times, serif;
    background-color:#fff;
    min-height: 100%;
    /* Estilos generales*/

    }
html {
    height: 100%;
}    
/*AQUI COMIENZA EL HEADER*/
.logo {
    display: flex;
    align-items: center;
    justify-content: center;

}
.df_ul li a{
    text-decoration: none;
    color: #fff;
    padding: 15px;
}
.df_ul li a:hover{
    background-color: #4d4949;
    transition: all 1.5s ease;
    border: 1px solid #000;

}    
.df_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8a8888;    
}
.df_ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
/*AQUI TERMINA EL HEADER*/
.grid_container{
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "header"
    "carrusel"
    "main"
    "marcas"
    "contactanos"
    "footer";
}
@media (min-width:600px){
    .grid_container{
        background-color: violet;
        grid-template: 
    "header header" 100px
    "carrusel carrusel" 100px
    "main"100px
    "marcas marcas"auto
    "contactanos contactanos"auto
    "footer";auto
    }
}
/*AQUI COMIENZA EL CONTENEDOR*/
.carrusel{
    grid-area: carrusel;
    display: grid;
    background-color: red;
}
.contenedor1{
    grid-area: main;
    width: 70%;
    height: 100%;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    background-color: green;
    grid-template-columns: 50% 50%
}
.marcas{
    grid-area: marcas;
    display: grid;
    background-color: yellow;
}
.contactanos{
    grid-area: contactanos;
    display: grid;
    background-color: blue;
}


/*.contenedor1{
    width: 70%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 50% 50%

}
.imagen_izquierda{
    display: grid;
   
}
.texto_derecha {
    display: grid;
    text-align: center;
   
}
.imagen_derecha{
    display: grid;
  
}
.texto_izquierda{
    display: grid;
    text-align: center;
   
.marcas{
    display: grid;
    justify-items: center;
    justify-content: center;
    border: 2px solid #000;
   
}
.marcas h1 {
    align-self: center;
    background-color: royalblue;
}
.item1{
    grid-row-start:1 ;
    background-color: yellow;
}
.item2{
    grid-row-start:2 ;

    background-color: blue;
}
.item3{
    grid-row-start:3 ;

    background-color: red;
}
*/
/*AQUI TERMINA EL CONTENEDOR*/
/*AQUI COMIENZA EL FOOTER*/
footer{
    background-color: aqua;
    grid-area: footer;
    width: 100%;
    height: 120px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 64px 64px 64px 64px;
    justify-content: center;
    column-gap: 3em;
    border: 2px solid #000;
    /*Se cambio flexbox por grids*/
}
footer a:hover{
    transform: scale(1.5 );
    transition: all 1s ease;
}
footer a {
    align-self: center;
}
/*AQUI TERMINA EL FOOTER*/


