* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden; }

body {
  font-family: sans-serif;
  padding-top: 80px; }

.texto {
  padding-top: 120px;
  padding-left: 15px;
  padding-right: 15px; }

.carrusel_fotos img {
  height: 498px; }

.ancho_alto {
  width: 100%;
  height: 420px; }

.anchologo {
  width: 200px;
  height: 65px; }

.ancho_icons {
  width: 64px;
  height: 64px; }

.header {
  background-color: #0769e9;
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 2; }

.nav {
  display: flex;
  justify-content: space-between;
  max-width: 992px;
  margin: 0 auto; }

.nav-link {
  color: #fff;
  text-decoration: none; }

.logo {
  font-size: 30px;
  font-weight: bold;
  padding: 0 40px;
  line-height: 80px; }

.nav-menu {
  display: flex;
  margin-right: 40px;
  list-style: none; }

.nav-menu-item {
  font-size: 18px;
  margin: 0 10px;
  line-height: 70px;
  text-transform: uppercase;
  width: max-content; }

.nav-menu-link {
  padding: 8px 12px;
  border-radius: 3px; }

/* TOGGLE */
.nav-toggle {
  color: #fff;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  cursor: pointer;
  display: none; }

/* MOBILE */
@media (max-width: 992px) {
  body {
    padding-top: 60px; }
  .header {
    height: 60px; }
  .logo {
    font-size: 25px;
    padding: 0 20px;
    line-height: 60px; }
  .nav-menu {
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #2c3e50;
    position: fixed;
    top: 60px;
    width: 100%;
    padding: 20px 0;
    height: calc(100% - 60px);
    overflow-y: auto;
    left: 100%;
    transition: left 0.3s; }
  .nav-menu-item {
    line-height: 70px; }
  .nav-menu-link:hover, .nav-menu-link_active {
    background: none;
    color: #83c5f7; }
  .nav-toggle {
    display: block; }
  .nav-menu_visible {
    left: 0; }
  .nav-toggle:focus:not(:focus-visible) {
    outline: none; }
  .carousel-control-next, .carousel-control-prev, .carousel-indicators {
    z-index: 1; }
  .texto {
    padding-top: 0; } }

/* MOBILE */
@media (max-width: 576px) {
  .ancho_alto {
    height: 320px;
    padding: 0 30px; } }

/*AQUI COMIENZA EL FOOTER*/
footer {
  margin-top: 10px;
  width: 100%;
  height: 120px;
  display: grid;
  grid-template-columns: 64px 64px 64px 64px;
  justify-content: center;
  column-gap: 30px;
  border: 2px solid #000;
  /*Se cambio flexbox por grids*/ }
  footer a {
    align-self: center; }

footer a:hover {
  transform: scale(1.5);
  transition: all 1s ease; }

/*AQUI TERMINA EL FOOTER*/
/*GALERIA*/
#galeria .col-lg-3 {
  padding: 25px; }

#galeria img {
  width: 100%;
  height: 250px;
  margin-top: 15px; }

/*GALERIA*/
