/*GALERIA*/
#galeria .col-lg-3 {
  padding: 25px;
}

#galeria {
  img {
    width: $MaxAncho;
    height: 250px;
    margin-top: 15px;
  }
}
.fondo3{
  background-image: url(../media/images/fondo4.jpg);
}
.hoverimg{
  img{
    border-radius: 10px;
  }
  :hover{
    border: 1px solid #83c5f7;
    transition: all 1s ease;
  }
}
/*GALERIA*/